<!DOCTYPE html>
<html>
    <head>
        <title>ListofUsers</title>
        <link href="/./css/style.css" rel="stylesheet">
    </head>
    <body>
        <div id="wrapper">
            <div class="page-header"><h2><%=page_title%></h2></div>
            <div class="page-container">
            <div class="page-data">
            <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                    <th>ID</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Email</th>
                    <th width="120px">Action</th>
                </tr>
           <% if(data.data.length){ 
                 for(var i = 0;i < data.data.length;i++) { %>
                <tr>
                    <td><%=data.data[i].id%></td>
                    <td><%=data.data[i].firstname%></td>
                    <td><%=data.data[i].lastname%></td>
                    <td><%=data.data[i].email%></td>
                    <td>
                        <a class="a-inside edit" href="../users/<%=data.data[i].id%>"
                        onClick="r()">Edit</a>
                        <a class="a-inside delete" href="../users/delete/<%=data.data[i].id%>">Delete</a>
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
               <% } %>
             </table>
             <div class="data-btn">
             <button onClick="window.location.href = '/users/add'">+ NEW</button>
             </div>  
            </div>
           </div>
       </div>
       </div>
    </body>
</html>
